.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      margin-right: 10px;
      cursor: pointer;
      border: 2px solid darkgrey;
      background-color: #b6b3b3;
      border-radius: 20px;
      color: black;
      font-size: 15px;
      text-decoration: none;
      transition: 0.3s ease;
      }
    .nav-link:hover{
      background-color: #c4c4c4;
    }
  }

}
